$base-padding:  50px 25px 80px 25px;

.temp { color: #FF9500; }
.go-back { margin-top: 30px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

div {
  margin: 0;
}

h1, h2, h3 {
  font-weight: 100;
}

h1 { 
  text-align: center;
  font-size: 30px;
  margin: 10px 0 50px 0; 
}
h2 { font-size: 25px; }
h3 { font-size: 15px; }
p  { font-size: 20px; }

.bold {
  font-weight: 400;
}

.logo {
  font-size: 20px;
  margin: 2px 0;
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: #4a4a4a;
  color: #eee;
  padding: 20px 25px;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.cover {
  background: url('../img/bg600.jpg') no-repeat #767676;
  height: 330px;
}

.white-bar {
  color: #333;
  padding: 15px 20px 5px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 60px;

  h2, h3 {
    margin: 0 0 10px 0;
  }
}

.how-it-works {
  background-color: #526481;
  color: #fff;
  padding: $base-padding;

  div {
    text-align: center;
  }
}

.how-it-works-parent {
  div > img {
    width: 100px;
  }
}

.shop {
  background-color: #4a4a4a;
  padding: $base-padding;
  color: #fff;

  h2 {
    text-align: center;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: 4% 10%;
  }
  a:hover {
    background-color: #565656;
    cursor: pointer;
  }
}

.contact {
  padding: $base-padding;
}

.clothing-order {
  margin-bottom: 100px;
}

.clothes {
  margin-bottom: 100px;

  .flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .flex-child {
      width: 250px;
    }
  }
  .item-desc {
    margin-top: 0;
  }
}

.item-img {
  width: 200px;
}